# Force HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Node.js Passenger configuration
PassengerEnabled on
PassengerAppRoot /home/mineqndn/backend.minecrusttrading.com
